@Model 
@{
    ViewData["Title"] = "AddQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="AddQuestions" asp-controller="Exams" method="post">
    <input type="hidden" name="CourseId" value="@Model"/>
    <div class="form-group">
        <label for="QuestionText">Soru içeriğini giriniz</label>
        <br />
        <textarea id="w3review" name="QuestionText" rows="7" cols="157">
        </textarea>

    </div>
    <div class="form-group">
        <label for="QuestionA">A</label>
        <input type="text" class="form-control" id="QuestionA" name="QuestionA" placeholder="A" width="40">

    </div>
    <div class="form-group">
        <label for="QuestionB">B</label>
        <input type="text" class="form-control" id="QuestionB" name="QuestionB" placeholder="B">

    </div>
    <div class="form-group">
        <label for="QuestionC">C</label>
        <input type="text" class="form-control" id="QuestionC" name="QuestionC" placeholder="C">

    </div>
    <div class="form-group">
        <label for="QuestionD">D</label>
        <input type="text" class="form-control" id="QuestionD" name="QuestionD" placeholder="D">

    </div>

    <div class="form-group">
        <label for="QCorrectAns">Answer</label>
        <input type="text" class="form-control" id="QCorrectAns" name="QCorrectAns" placeholder="Answer">

    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Soru Ekle</button>
</form>


