
@{
    
    ViewData["Title"] = "AddQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<form asp-action="AddQuestions" asp-controller="Exams" method="post">
    <div class="container">
        <div class="row">

            <input type="hidden" name="CourseId" value="@Model" hidden/>
            <div class="row">
                <div class="form-group">
                    <label for="QuestionText">Soru içeriğini giriniz</label>
                    <div class="card border border sborder-secondary rounded">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <textarea id="w3review" name="QuestionText" rows="7" cols="158"> </textarea>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="input-group mb-3">
                                        <label class="form-check-label" for="defaultCheck1">
                                            <input type="text" class="form-control" id="QuestionA" name="QuestionA" placeholder="A" style="width:1000px">
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group mb-3">
                                        <label class="form-check-label" for="defaultCheck2">
                                            <input type="text" class="form-control"  id="QuestionB" name="QuestionB" placeholder="B" style="width:1000px" >
                                            @*<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">*@

                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group mb-3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            <input type="text" class="form-control" id="QuestionC" name="QuestionC" placeholder="C" style="width:1000px">
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group mb-3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            <input type="text" class="form-control" id="QuestionD" name="QuestionD" placeholder="D" style="width:1000px">
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <input type="text" class="form-control" id="QCorrectAns" name="QCorrectAns" placeholder="Answer" style="width:1000px">

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br/>
        <br/>
        <div class="d-flex justify-content-center mb-5">
            <input type="submit" class="btn btn-lg btn-success" id="quiz" value="Soru Ekle" />

        </div>
    </div>
    @*<button type="submit" class="btn btn-primary">Soru Ekle</button>*@
</form>


