@using Entities.Concrete
@model List<Course>
@{
    ViewData["Title"] = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sınav Listesi</h1>
<br />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>Sınav Adı</th>    
        <th>Sınav </th>    
        <th>Soruları </th>    
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            
            <td><a href="/Exams/ViewAllQuestions?CourseId=@item.CourseId" class="btn btn-info">Sınav Sorularını Görüntüle</a></td>
            <td><a href="/Exams/AddQuestions?CourseId=@item.CourseId" class="btn btn-info">Sınav Sorusu Girmek İçin Tıklayınız</a></td>
        </tr>
    }
</table>
