@model List<Entities.ViewModel.StudentCourseVm>
@{
}
<br />
<br
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">Dersin Adı</th>
            <th scope="col">Öğrencinin Adı </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">#</th>
                <td>@item.CourseName</td>
                <td>@item.UserName</td>

            </tr>
        }


    </tbody>
</table>