<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

        <div class="container-fluid">
            <a class="navbar-brand">Üsküdar Üniversitesi</a>
            <form class="d-flex">
                @*<button class="btn btn-outline-success" type="submit">Search</button>*@
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">170201020</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#">Çıkış Yap</a></li>
                        <li class="divider"></li>
                    </ul>
                </div>
            </form>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
