@using Entities.Concrete
@model IEnumerable<User>
@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StudentList</h1>



<br />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>Öğrencinin Adı</th>
        <th>Öğrencinin Soyadı</th>
        <th>Email</th>
        <th>Eklendiği Tarih</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>@item.AddedAt</td>

        </tr>
    }
</table>
<a href="/Students/AddStudent" class="btn btn-info">Yeni Öğrenci Ekle</a>